#controls {
    background-color: #888;
}

.link {
  fill: none;
  stroke: #999;
  stroke-width: 1.5px;
}

.node circle {
    stroke: #888;
    stroke-width: 1.5px;
}

.node {
  font: 12px sans-serif;
  stroke: #666;
  stroke-width: 1.5px;
}

.node text {
    color: black;
}

.slider {
    float: left;
    width: 200px;
}
